.header-wrap {
  width: 100%;
  max-width: 1072px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}
[data-theme="dark"] .tagline-img {
  filter: invert(1);
}
@media (min-width: 1300px) {
  .header-wrap {
    max-width: none;
    padding: 0 100px;
  }
}
@media (max-width: 768px) {
  .main-content {
    padding-top: 20px;
  }
}
